@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield; /* Firefox */
  }
}

.swiper-navigation-icon {
  width: 24px !important;
  height: 24px !important;
  color: theme('colors.primaryLight') !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev {
  left: 0 !important;
}
